@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[url('/src/img/FTMBG2.png')] bg-fixed bg-cover relative text-white font-['Verdana']

  }
}

@layer components {
  .text-stroke {
    -webkit-text-stroke: 1px #13b5ec;
    color: black;
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 1.95rem;
    line-height: 1;

  }
  .card {
    @apply border border-white rounded-xl p-2 shadow-2xl shadow-black	bg-bg
  }
}
